= grid(collection_grid) do |g|

  - g.column name: Participant.human_attribute_name(:name) do |item|
    - capture do
      = link_to(item.name, backend_participant_path(item))
      %span.label{class: "label label-#{item.farm? ? 'primary' : 'info'}"}= item.nature

  - g.column name: Participant.human_attribute_name(:users) do |item|
    :ruby
      item.users.map do |user|
        link_to(image_tag(user.avatar_url(size: 18)), backend_user_path(user), title: user.name.tl)
      end.join(' ').html_safe

  - g.column do |item|
    - link_to(:edit.ta, edit_backend_participant_path(item))

  - g.column do |item|
    - link_to(:destroy.ta, backend_participant_path(item), method: :delete, data: {confirm: :are_you_sure.tl})

