= grid(collection_grid) do |g|

  - g.column name: ScenarioBroadcast.human_attribute_name(:release_turn) do |item|
    - item.release_turn

  - g.column name: ScenarioBroadcast.human_attribute_name(:name)  do |item|
    - link_to(item.name, backend_scenario_broadcast_path(item))

  - g.column do |item|
    - link_to(:edit.ta, edit_backend_scenario_broadcast_path(item))
