= simple_form_for [resource], class: 'form' do |f|
  .container
    = render 'form', f: f
    .btn-group
      = button_tag(:update.ta, class: 'btn btn-primary')
      = link_to(:cancel.ta, params[:redirect] || {action: :show, controller: :games}, class: 'btn btn-default')
