//Todo Boucler et mettre les données en fct
.saleBuyInterface
  %h3 Achats
  .cubeSalesBuy
    - 2.times do
      .sale
        %h4 Achat 1
        %p
          test test test test test test
          %b 33€

.saleBuyInterface
  %h3 Ventes
  .cubeSalesBuy
    - 2.times do
      .sale
        %h4 Achat 1
        %p
          test test test test test test
          %b 33€

