= render 'purchase'
= render 'sales'
.saleBuyInterface
  %h3 Mes contrats
  .cubeSalesBuy
    - 2.times do
      .sale
        %h4 Achat 1
        %p
          test test test test test test
          %b 33€
.saleBuyInterface
  %h3 Mes emprunts
  .cubeSalesBuy
    - 3.times do
      .sale
        %h4 Achat 1
        %p
          test test test test test test
          %b 33€



