- deal = @participant.sales.where(customer_id: current_participant.id, state: :draft).first
.col-md-8
  .catalog
    %h3 Produits à acheter
    .items-list
      - @participant.products.each do |product|
        - unit_pretax_amount = current_game.scenario.value_of(product[:variant], current_turn)
        - next unless unit_pretax_amount
        .items-item
          .row
            .col-md-8.catalog-item-title{title: product[:name].to_s.humanize}= product[:name].to_s.humanize
            .col-md-2.decimal.catalog-item-price= unit_pretax_amount.l(currency: :EUR)+ ' HT'
            .col-md-2.catalog-item-quantity
              = link_to({controller: :deals, action: :add_to_cart, customer_id: current_participant.id,
                          supplier_id: @participant.id, unit_pretax_amount: unit_pretax_amount,
                          catalog_item_id: product[:catalog_item_id], product_id: product[:id],
                           variant: product[:variant], tax: product[:tax]}, method: :post) do
                %i.glyphicon.glyphicon-shopping-cart
.col-md-4
  #cart= render 'deals/cart', deal: deal, supplier: @participant
