= link_to(:edit.ta, edit_backend_participant_path(resource), class: "btn btn-default")

-# %h2= Participant.human_attribute_name(:things)
-# .btn-group.btn-toolbox{role: "group"}
-#   = link_to(:add.ta, new_backend_participant_things_path(participant_id: resource.id), class: "btn btn-default")
-# = show_grid :things
