.btn-group.btn-toolbox
  = link_to(:edit.ta, edit_backend_scenario_broadcast_path(resource), class: "btn btn-default")

.well= resource.content

-# %h2= ScenarioBroadcast.human_attribute_name(:things)
-# .btn-group.btn-toolbox{role: "group"}
-#   = link_to(:new.ta, new_backend_scenario_broadcast_things_path(scenario_broadcast_id: resource.id), class: "btn btn-default")
-# = show_grid :things
