= grid(collection_grid) do |g|

  - g.column name: ScenarioIssue.human_attribute_name(:name) do |item|
    - link_to(item.name, backend_scenario_issue_path(item))

  - g.column do |item|
    - link_to(:edit.ta, edit_backend_scenario_issue_path(item))

  - g.column do |item|
    - link_to(:destroy.ta, backend_scenario_issue_path(item), method: :delete, data: {confirm: :are_you_sure.tl})