= link_to(:edit.ta, edit_backend_farm_path(resource), class: "btn btn-default")

-# %h2= Farm.human_attribute_name(:things)
-# .btn-group.btn-toolbox{role: "group"}
-#   = link_to(:add.ta, new_backend_farm_things_path(farm_id: resource.id), class: "btn btn-default")
-# = show_grid :things
