= grid(collection_grid) do |g|

  - g.column name: <%= class_name -%>.human_attribute_name(:name) do |item|
    - link_to(item.name, backend_<%= singular_name -%>_path(item))

  - g.column do |item|
    - link_to(:edit.ta, edit_backend_<%= singular_name -%>_path(item))

  - g.column do |item|
    - link_to(:destroy.ta, backend_<%= singular_name -%>_path(item), method: :delete, data: {confirm: :are_you_sure.tl})

