// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$catalog-logo-size: 2 * $navbar-height;

.catalog {
  @include listbox;
}

.catalog-item {
  @include framebox;
  min-height: $catalog-logo-size;
  .catalog-item-logo {
    float: left;
    margin-right: $font-size-base;
    height: $catalog-logo-size;
    width: $catalog-logo-size;
    background: #EEE;
  }
  .catalog-item-details {
    padding: $font-size-base;
    .catalog-item-price {
      float: right;
      font-size: $font-size-h4;
      font-weight: bold;
    }
    .catalog-item-title {
      font-size: $font-size-h4;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 8px;
    }
    .catalog-item-quantity {
      clear: right;
    }
  }
}

.cart {
  @include titlebox;
  .cart-content {
    @include framebox;
    margin-top: 0;
    padding: $font-size-base;
    .deal-amount {
      font-size: $font-size-h2;
      text-align: right;
    }
    @include clearfix;
  }
}

.page {
  @include framebox;
  padding: 4em;
  width: 50%;
  margin: 2em auto;
  .supplier, .customer {
    .logo {

    }
    .name {
      font-size: $font-size-h4
    }
  }
  .customer {
    float: right;
    width: 40%;
    border: 1px solid #EEE;
    padding: 1em 2em;
  }
  h1 {
    clear: both;
    @include clearfix;
    text-align: center;
    margin: 5em 2em 1em;

  }
  .deal-amount {
    font-size: $font-size-h3;
    text-align: right;
  }
}

.tabbox {
  .tab-pane {
    padding: 2em 0;
  }
}

.decimal-value {
  text-align: right;
}