/* Set-up pour les cubes*/

$cube-width: 183px;
$cube-height: $cube-width;

$image-width: 215px;
$image-height: 215px;

$background-color-flip: rgb(247, 247, 247);
$border-color: #77220b;
$background-color-flop1: rgba(105, 108, 109, .3);
$background-color-flop2: rgba(208, 223, 226, .4);

$present-actor-color: #425000;

/* Curve */
#curves {
  .curve {
    @include framebox;
    width: 45%;
    display: inline-block;
    margin: $font-size-base 2%;
    @media screen and (max-width: 767px){
      width: 97%;
    }
  }
}

.navbar {
  #my-account-toggle {
    padding: ($navbar-height - 32px) / 2;
  }
}


/* news */
$black: black;
$white_50: rgba(255, 255, 255, 0.5);

.carousel{
  @include framebox;
  $control-color: mix(#777, $brand-primary);
  // border-bottom: 1px solid $btn-default-border;
  min-height: 160px;
  .carousel-indicators {
    li {
      border-color: $control-color;
      &.active {
        background-color: $control-color;
      }
    }
  }
  .carousel-inner {
    margin: 0 auto;
    width: 70%;
    .carousel-content {

      min-height: 2 * $navbar-height;
      color:$black;
      display:block;
      align-items:center;
      padding: $font-size-base;
      h4, p {
        @media screen and (max-width: 727px) {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  .carousel-control {
    background: #F7F7F7;
    opacity: 0.6;
    span {
      color: $control-color;
    }
    &:hover {
      opacity: 1;
    }
  }
}




#participants {
  text-align: center;
  padding: $font-size-base;
  .participant {
    display: inline-block;
    margin: round(0.1 * $cube-width);
    z-index: 999;
    .participant-front {
      &:hover {
        &, * {
          text-decoration: none;
        }
      }
      @include box-shadow(1px 1px 3px rgba(black, 0.4));
      background: white;
      .stand-number {
        display: block;
        position: absolute;
        right: 0;
        padding: $padding-base-vertical $padding-base-horizontal;
        background-color: rgba(black, 0.2);
        color: white;
        border-bottom-left-radius: $border-radius-small;
        text-transform: uppercase;
        font-size: $font-size-small;
      }
      img {
        width: 100%;
        height: auto;
        //border-radius: 2%;
      }
      .participant-caption {
        .affairs-count {
          float: right;
        }
        display: block;
        bottom: 0;
        position: absolute;
        background: rgba(black, 0.2);
        color: white;
        padding: $padding-base-vertical $padding-base-horizontal;
        width: 100%;
        text-transform: uppercase;
      }
    }
    .participant-details{
      @include box-shadow(1px 1px 3px rgba(black, 0.4));
      text-align: center;
      background: $background-color-flip;
      &:hover {
        &, * {
          text-decoration: none;
        }
      }
      .label {
        display: inline-block;
        margin: 3px 1px;
        font-size: $font-size-base;
      }
    }

  }
}


.box-scene {
  display: block;
  width: $cube-width;
  height: $cube-height;
  perspective: 100vh;
  perspective-origin: 50% 50%;
  .box {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    @include transform-style(preserve-3d);
    @include transition(transform .40s);
    @include transform(translateZ(-1 * $cube-width/2));
    .face {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      &.face-front {
        @include transform(translateZ($cube-width/2));
      }
      &.face-back {
        @include transform(rotateX(-180deg) translateZ($cube-width/2));
      }
      &.face-left {
        @include transform(rotateY(-90deg) translateZ($cube-width/2));
      }
      &.face-right {
        @include transform(rotateY(90deg) translateZ($cube-width/2));
      }
      &.face-top {
        @include transform(rotateX(-90deg) translateZ($cube-width/2));
      }
      &.face-bottom {
        @include transform(rotateX(90deg) translateZ($cube-width/2));
      }
    }
  }
  &:hover {
    .box {
      &.hover-on-back {
        @include transform(translateZ(-1 * $cube-width/2) rotateX(180deg));
      }
      &.hover-on-left {
        @include transform(translateZ(-1 * $cube-width/2) rotateY(90deg));
      }
      &.hover-on-right {
        @include transform(translateZ(-1 * $cube-width/2) rotateY(-90deg));
      }
      &.hover-on-top {
        @include transform(translateZ(-1 * $cube-width/2) rotateX(90deg));
      }
      &.hover-on-bottom {
        @include transform(translateZ(-1 * $cube-width/2) rotateX(-90deg));
      }
    }
  }
}

.count-down {
  float: right;
  color: white;
  display: block;
  padding: $padding-small-vertical $padding-small-horizontal;
  text-transform: uppercase;
  font-size: $font-size-small;
  border-radius: $border-radius-small;
  &.running {
    background: rgba($brand-secondary, 0.7);
  }
}


