/* Set-up pour les cubes*/

$cube-width: 200px;
$cube-height: 200px;

$widthImg: 215px;
$heightImg: 215px;

$background-color-flip: rgb(247, 247, 247);
$borderColor: #77220b;
$background-color-flop1: rgba(105, 108, 109, .3);
$background-color-flop2: rgba(208, 223, 226, .4);

$present-actor-color: #425000;

/* Curve */
.curve  {
  width: 48%;
  display: block;
  float: left;
  margin-right: 10px;

  @media screen and (max-width: 767px){
    width: 100%;
  }
}


/* news */
$black: black;
$white_50: rgba(255, 255, 255, 0.5);

.carousel{
  background-color: mix($brand-primary, white, 10%);

  .row{
    width: 100%;
  }

  .carousel-content {
    height: 89px;
    color:$black;
    display:block;
    align-items:center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .carousel-control{

    .glyphicon-chevron-left{
      color: #666666;
    }

    .glyphicon-chevron-right{
      color: #666666;
    }

    .glyphicon-chevron-right:hover {
      color: $black;
    }
    .glyphicon-chevron-left:hover {
      color: $black;
    }
  }

  .ellipsis {
    @media screen and (max-width: 727px) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .carousel-control {
    &.right {
      background-image: linear-gradient(to right, transparent 0, $white_50 100%);
    }
    &.left {
      background-image: linear-gradient(to right, transparent 0, $white_50 100%);
    }
  }

  #withoutBackground {
    background-image: linear-gradient(to right, transparent 100%, rgba(255, 255, 255, 0.5) 100%);
  }
}


.box-scene {
  -webkit-perspective: 700px;
  width: 200px;
  height: 200px;

  float: left;
  margin: 20px 40px;
  z-index: 999;
}
.box-scene:hover .box {
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);

}
.box {
  width: $cube-width;
  height: $cube-height;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  @include  transition(all .40s ease-out);
  @include  transform-origin(90px 90px -90px);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  @include  backface-visibility(visible);
  @include transform-origin(0 0);
  text-align: center;
  background: $background-color-flip;
  border: 1px solid $borderColor;
  border-radius: 5px;
}
.front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2;
  background: #d9d9d9;

  img {
    width: 100%;
    height: auto;
    border-radius: 2%;
  }

}
.side {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  z-index: 1;
  left: 180px;

  .stand-event {
    margin-top: 10px;
    margin-right: 5px;
    height: 40px;
    width: 50px;
    background-color: $present-actor-color;
    color: white;
    padding: 5px;
    float: right;
    border-radius: 5px;
  }
}






