// Place all the styles related to the participants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$borderColor: #77220b;
$backgroundColor: rgb(247, 247, 247);

.logo img{
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  height: 90px;
  width: 120px;
}


.saleBuyInterface{
  display: inline-block;
  float: left;
  //margin-right: 80px;
  margin-left: 150px;

  .cubeSalesBuy{
    border: 1.7px solid $borderColor;
    width: 300px;
    height: auto;
    background-color: $backgroundColor;
    // box-shadow: 0 5px 20px $backgroundColorFlop1, 0 0 8px 5px $backgroundColorFlop2 inset;
    padding: 4%;

    .sale {
      display: block;
      //float: right;
      margin-right: 30px;

      b{
        text-align: right;
      }

    }
  }
}


