= link_to(:edit.ta, edit_backend_historic_path(resource), class: "btn btn-default")

-# %h2= Historic.human_attribute_name(:things)
-# .btn-group.btn-toolbox{role: "group"}
-#   = link_to(:new.ta, new_backend_historic_things_path(historic_id: resource.id), class: "btn btn-default")
-# = show_grid :things
