= link_to(:edit.ta, edit_backend_actor_path(resource), class: 'btn btn-default')

-# %h2= Actor.human_attribute_name(:things)
-# .btn-group.btn-toolbox{role: "group"}
-#   = link_to(:add.ta, new_backend_actor_things_path(actor_id: resource.id), class: "btn btn-default")
-# = show_grid :things
